<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<!-- 사용자 스크립트 추가 -->
<th:block layout:fragment="script">
  <script th:inline="javascript">
        $(document).ready(function(){

            calculateToalPrice();

            $("#count").change( function(){
                calculateToalPrice();
            });
        });

        function calculateToalPrice(){
            var count = $("#count").val();
            var price = $("#price").val();
            var totalPrice = price*count;
            $("#totalPrice").html(totalPrice + '원');
        }

        function order(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/order";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("주문이 완료 되었습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        function addCart(){
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");

            var url = "/cart";
            var paramData = {
                itemId : $("#itemId").val(),
                count : $("#count").val()
            };

            var param = JSON.stringify(paramData);

            $.ajax({
                url      : url,
                type     : "POST",
                contentType : "application/json",
                data     : param,
                beforeSend : function(xhr){
                    /* 데이터를 전송하기 전에 헤더에 csrf값을 설정 */
                    xhr.setRequestHeader(header, token);
                },
                dataType : "json",
                cache   : false,
                success  : function(result, status){
                    alert("상품을 장바구니에 담았습니다.");
                    location.href='/';
                },
                error : function(jqXHR, status, error){

                    if(jqXHR.status == '401'){
                        alert('로그인 후 이용해주세요');
                        location.href='/members/login';
                    } else{
                        alert(jqXHR.responseText);
                    }

                }
            });
        }

        var photoCount = 1;
        var maxPhotos = 5;

        function addPhotoField() {
            if (photoCount <= maxPhotos) {
                var additionalPhotosDiv = document.getElementById("additional-photos");

                var newPhotoField = document.createElement("div");
                newPhotoField.classList.add("form-group");

                var label = document.createElement("label");
                label.textContent = "사진" + photoCount;

                var input = document.createElement("input");
                input.type = "file";
                input.classList.add("form-control");
                input.name = "photo" + photoCount;
                input.multiple = true;

                var deleteButton = document.createElement("button");
                deleteButton.type = "button";
                deleteButton.classList.add("btn", "btn-danger", "btn-sm");
                deleteButton.textContent = "삭제";
                deleteButton.addEventListener("click", function() {
                    removePhotoField(newPhotoField);
                });

                newPhotoField.appendChild(label);
                newPhotoField.appendChild(input);
                newPhotoField.appendChild(deleteButton);

                additionalPhotosDiv.appendChild(newPhotoField);

                photoCount++;
            } else {
                alert("최대 " + maxPhotos + "장의 사진을 첨부할 수 있습니다.");
            }
        }

        function removePhotoField(field) {
            field.remove();
            photoCount--;

            var photoFields = document.querySelectorAll('#additional-photos .form-group');
            for (var i = 0; i < photoFields.length; i++) {
                var label = photoFields[i].querySelector('label');
                label.textContent = '사진' + (i + 1);
            }
        }

<!--        function addReview(event) {-->
<!--          event.preventDefault();-->
<!--          var itemId = document.getElementById("itemId").value;-->
<!--          var content = document.getElementById("content").value;-->

<!--          var csrfToken = $("meta[name='_csrf']").attr("content");-->
<!--          var csrfHeader = $("meta[name='_csrf_header']").attr("content");-->

<!--          var formData = new FormData();-->

<!--          formData.append('itemId', itemId);-->
<!--          formData.append('content', content);-->

<!--          var photoFields = document.querySelectorAll('#additional-photos input[type="file"]');-->
<!--          for (var i = 0; i < photoFields.length; i++) {-->
<!--            var files = photoFields[i].files;-->
<!--            for (var j = 0; j < files.length; j++) {-->
<!--              formData.append('photos[]', files[j]);-->
<!--            }-->
<!--          }-->

<!--          $.ajax({-->
<!--            url: "/item/addReview?itemId=" + itemId,-->
<!--            type: "POST",-->
<!--            data: formData,-->
<!--            processData: false,-->
<!--            beforeSend: function(xhr) {-->
<!--              xhr.setRequestHeader(csrfHeader, csrfToken);-->
<!--            },-->
<!--            success: function(response) {-->
<!--              window.location.reload();-->
<!--            },-->
<!--            error: function(error) {-->
<!--              console.log('실패');-->
<!--            }-->
<!--          });-->
<!--        }-->


    </script>
</th:block>

<!-- 사용자 CSS 추가 -->
<th:block layout:fragment="css">
  <style>
        .mgb-15{
            margin-bottom:15px;
        }
        .mgt-30{
            margin-top:30px;
        }
        .mgt-50{
            margin-top:50px;
        }
        .repImgDiv{
            margin-right:15px;
            height:auto;
            width:50%;
        }
        .repImg{
            width:100%;
            height:400px;
        }
        .wd50{
            height:auto;
            width:50%;
        }

    </style>
</th:block>

<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

  <input type="hidden" id="itemId" th:value="${item.id}">

  <div class="d-flex">
    <div class="repImgDiv">
      <img th:src="${item.itemImgDtoList[0].imgUrl}" class = "rounded repImg" th:alt="${item.itemNm}">
    </div>
    <div class="wd50">
            <span th:if="${item.itemSellStatus == 'SELL'} ? '판매중' : '품절'" class="badge badge-primary mgb-15">
                판매중
            </span>
            <span th:unless="${item.itemSellStatus == 'SELL'} ? '판매중' : '품절'" class="badge btn-danger mgb-15" >
                품절
            </span>
      <div class="h4" th:text="${item.itemNm}"></div>
      <hr class="my-4">

      <div class="text-right">
        <div class="h4 text-danger text-left">
          <input type="hidden" th:value="${item.price}" id="price" name="price">
          <span th:text="${item.price}"></span>원
        </div>
        <div class="input-group w-50">
          <div class="input-group-prepend">
            <span class="input-group-text">수량</span>
          </div>
          <input type="number" name="count" id="count" class="form-control" value="1" min="1">
        </div>
      </div>
      <hr class="my-4">

      <div class="text-right mgt-50">
        <h5>결제 금액</h5>
        <h3 name="totalPrice" id="totalPrice" class="font-weight-bold"></h3>
      </div>
      <div th:if="${item.itemSellStatus == 'SELL'} ? '판매중' : '품절'" class="text-right">
        <button type="button" class="btn btn-light border border-primary btn-lg" onclick="addCart()">장바구니 담기</button>
        <button type="button" class="btn btn-primary btn-lg" onclick="order()">주문하기</button>
      </div>
      <div th:unless="${item.itemSellStatus == 'SELL'} ? '판매중' : '품절'" class="text-right">
        <button type="button" class="btn btn-danger btn-lg">품절</button>
      </div>
    </div>
  </div>

  <div class="jumbotron jumbotron-fluid mgt-30">
    <div class="container">
      <h4 class="display-5">상품 상세 설명</h4>
      <hr class="my-4">
      <p class="lead" th:text="${item.itemDetail}"></p>
    </div>
  </div>

  <div th:each="itemImg : ${item.itemImgDtoList}" class="text-center">
    <img th:if="${not #strings.isEmpty(itemImg.imgUrl)}" th:src="${itemImg.imgUrl}" class="rounded mgb-15" width="800">
  </div>

<!--  <form th:action="@{/item/addReview}" method="post" enctype="multipart/form-data" th:object="${reviewFormDto}">-->
    <input type="hidden" th:field="*{id}">
  <div class="form-group">
    <h5>리뷰 작성:</h5>
<!--    <div id="stars">-->
<!--      <span class="star" id="star-1">&#9734;</span>-->
<!--      <span class="star" id="star-2">&#9734;</span>-->
<!--      <span class="star" id="star-3">&#9734;</span>-->
<!--      <span class="star" id="star-4">&#9734;</span>-->
<!--      <span class="star" id="star-5">&#9734;</span>-->
<!--    </div>-->
    <textarea class="form-control" id="content" rows="2" style="white-space: pre-wrap;" th:field="*{content}"></textarea>
    <div id="additional-photos">
      <!-- 추가 사진 입력 필드가 동적으로 생성될 위치 -->
    </div>
    <div>
      <button type="button" class="btn btn-secondary" onclick="addPhotoField()">사진 추가</button>
    </div>
    <div class="form-group">
      <label for="writer">작성자</label>
      <input type="text" class="form-control" id="writer" name="writer" th:value="${userId}" readonly>
    </div>
    <button type="button" class="btn btn-primary mt-2 float-right">답변 작성</button>
  </div>
<!--  </form>-->

  <div>
    <h5>답변:</h5>
    <div th:if="${reviews}" th:each="review : ${reviews}">
      <div class="card mb-2">
        <div class="card-body">
          <div class="d-flex justify-content-between">
            <div>
              <small class="text-muted" th:text="${review.answerDate}"></small>
            </div>
            <div>
              <button type="button" class="btn btn-link p-0" onclick="modReview(event)">수정</button>
              <button type="button" class="btn btn-link p-0" onclick="deleteReview(event)">삭제</button>
              <input type="hidden" th:value="${review.id}" id="reviewId" name="reviewId">
              <input type="hidden" th:value="${review.content}" id="reviewContentById" name="reviewContentById">
            </div>
          </div>
          <div>
            <textarea id="reviewContent" name="reviewContent" th:text="${review.content}" style="width: 100%;" disabled></textarea>
          </div>
          <img th:src="${review.reviewImgDtoList[0].imgUrl}" class = "rounded repImg">

        </div>
      </div>
    </div>
    <div th:unless="${answers}">
      <p>등록된 답변이 없습니다.</p>
    </div>
  </div>



</div>

</html>