<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">
<head>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />
</head>

<th:block layout:fragment="script">
    <script th:inline="javascript">

$(document).ready(function() {
    $("#resendCertificationBtn").hide();
});

function sendCertificationBtn() {
    var name = $("#name").val();
    var phone = $("#phone").val();

    var csrfToken = $("meta[name='_csrf']").attr("content");
    var csrfHeader = $("meta[name='_csrf_header']").attr("content");


    $.ajax({
        type: "POST",
        url: "checkInfoId",
        dataType: 'json',
        data: {
            name: name,
            phone: phone
        },
        beforeSend: function(xhr) {
	        xhr.setRequestHeader(csrfHeader, csrfToken);
	    },
        success: function(response) {
            if (response === true) {
                $("#sendCertificationBtn").hide();
                $("#resendCertificationBtn").show();
                $("#sendCertificationBtn").prop("disabled", true);
                $("#resendCertificationBtn").prop("disabled", false);
                $("#checkCertificationBtn").prop("disabled", false);
                $("#certification").prop("disabled", false);
                $("#name").prop("disabled", true);
                $("#phone").prop("disabled", true);

                $.ajax({
                    type: "POST",
                    url: "sendCertificationNumberId",
                    dataType: 'json',
                    beforeSend: function(xhr) {
                        xhr.setRequestHeader(csrfHeader, csrfToken);
                    },
                    success: function(response) {
                        alert("인증번호가 발송되었습니다. 인증번호를 입력해주세요.");
                        $("#check").val(response);
                    },
                    error: function(xhr, status, error) {
                        console.error(xhr.responseText);
                    }
                });
            } else {
                alert("입력 정보를 다시 확인해주세요.");
                $("#name").val("");
                $("#phone").val("");
            }
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
    });
};

function resendCertificationBtn() {
    var name = $("#name").val();
    var phone = $("#phone").val();

    var csrfToken = $("meta[name='_csrf']").attr("content");
    var csrfHeader = $("meta[name='_csrf_header']").attr("content");

    $.ajax({
        type: "POST",
        url: "sendCertificationNumberId",
        dataType: 'json',
        beforeSend: function(xhr) {
            xhr.setRequestHeader(csrfHeader, csrfToken);
        },
        success: function(response) {
            alert("인증번호가 재전송되었습니다. 인증번호를 입력해주세요.");
            $("#check").val(response);
        },
        error: function(xhr, status, error) {
            console.error(xhr.responseText);
        }
    });
};

function checkCertificationBtn() {
    var certificationNumber = $('#certification').val();
    var checkNumber = $('#check').val();
    var name = $("#name").val();
    var phone = $("#phone").val();

    var csrfToken = $("meta[name='_csrf']").attr("content");
    var csrfHeader = $("meta[name='_csrf_header']").attr("content");

    if (certificationNumber === checkNumber) {
        alert('인증되었습니다.');

        $.ajax({
            type: "POST",
            url: "findId",
            dataType: 'json',
            data: {
                name: name,
                phone: phone
            },
            beforeSend: function(xhr) {
                xhr.setRequestHeader(csrfHeader, csrfToken);
            },
            success: function(response) {
                window.location.href = "idCheckForm?id=" + response;
            },
            error: function(xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    } else {
        alert('인증번호가 일치하지 않습니다.');
    }
};

</script>
</th:block>

<div layout:fragment="content">
    <h1>아이디 찾기</h1>
    <div class="form-group">
        <label for="name">이름</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="이름을 입력하세요" required>
    </div>
    <div class="form-group">
        <label for="phone">휴대폰 번호</label>
        <input type="tel" id="phone" name="phone" class="form-control" placeholder="'-'를 제외하고 입력하세요" pattern="[0-9]{10,11}" required>
        <button type="button" id="sendCertificationBtn" class="btn btn-info" onclick="sendCertificationBtn()">인증번호 전송</button>
        <button type="button" id="resendCertificationBtn" class="btn btn-info" onclick="resendCertificationBtn()" disabled>재전송</button>
    </div>
    <div class="form-group">
        <label for="certification">인증번호</label>
        <input type="text" id="certification" name="certification" class="form-control" placeholder="인증번호를 입력하세요" required disabled>
        <input type="hidden" id="check" name="check" class="form-control">
    </div>
    <button type="button" id="checkCertificationBtn" class="btn btn-primary" onclick="checkCertificationBtn()" disabled>인증번호 확인</button>

</div>

</html>