<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layouts/layout1}">

<div layout:fragment="content">
  <div class="container my-3">
    <h1 style="margin-top: 5%; text-align: center;">Q&A</h1>
    <a th:href="@{/inquiry/create}" class="btn boardWrite" style="float: right; margin-right: 0px;" sec:authorize="hasAnyAuthority('ROLE_USER')">Write</a>
    <br><br>
    <form id="listForm">

      <table class="table">
        <tr>
          <th>번호</th>
          <th>문의유형</th>
          <th>제목</th>
          <th>작성자</th>
          <th>작성일</th>
          <th>답변여부</th>
        </tr>
        <tr th:each="inquiry : ${inquiries}">
          <td th:text="${inquiry.id}"></td>
          <td th:text="${inquiry.inquiryType == T(com.market.constant.InquiryType).PAYMENT ? '결제 문의' :
                       (inquiry.inquiryType == T(com.market.constant.InquiryType).SHIPPING ? '배송 문의' :
                       (inquiry.inquiryType == T(com.market.constant.InquiryType).PRODUCT ? '상품 문의' : '기타 문의'))}"></td>
          <td><a th:href="@{${'/inquiry/' + inquiry.id}}"><span th:text="${inquiry.title}"></span></a></td>
          <td th:text="${inquiry.writer}"></td>
          <td th:text="${inquiry.regDate}"></td>
          <td th:text="${inquiry.answers != null ? '답변 완료' : '미답변'}"></td>
        </tr>

      </table>
    </form>

    <!-- 페이징 처리 -->
    <ul class="pagination d-flex justify-content-center">
      <li th:if="${currentPage > 1}" class="page-item">
        <a class="page-link" th:href="@{/inquiry/list(page=${currentPage - 1})}">Previous</a>
      </li>
      <li th:each="pageNumber : ${#numbers.sequence(startPage, endPage)}" class="page-item"
          th:classappend="${pageNumber eq currentPage} ? 'active' : ''">
        <a class="page-link" th:href="@{/inquiry/list(page=${pageNumber})}" th:text="${pageNumber}"></a>
      </li>
      <li th:if="${currentPage < totalPages}" class="page-item">
        <a class="page-link" th:href="@{/inquiry/list(page=${currentPage + 1})}">Next</a>
      </li>
    </ul>
  </div>
</div>

</html>